
//event ----------------------------------------------

.bl_strongTtl {
  text-align: center;
  font-size: 48px;
  letter-spacing: 0.088em;
  font-weight: 900;
}

.bl_tabContainer {
  margin-top: 50px;
}

.bl_tabs {
  display: flex;
  align-items: flex-end;
  position: relative;
  @include z-index(tabs);
  justify-content: center;
  li:nth-child(1) > a{
    @include z-index(tab1);
  }
  li:nth-child(2) > a{
    @include z-index(tab2);
    right: 7px;
  }
  li:nth-child(3) > a{
    right: 14px;
    @include z-index(tab3);
  }
  li:nth-child(4) > a{
    right: 21px;
    @include z-index(tab4);
  }
}


.el_tab {
  position: relative;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  border-radius: 14px;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    transform: translate3d(14px, -12px, -16px);
    border: 7px solid $color-black01;
    border-bottom: none;
    border-radius: 14px 14px 0 0;
    background: $color-exOrange;
  }
  span {
    display: block;
    position: relative;
    padding: 14px 20px 10px;
    letter-spacing: 0.088em;
    color: $color-green02;
    background-color: $color-exOrange;
    border: 7px solid $color-black01;
    border-radius: 14px 14px 0 0;
  }
  &.is_active > span{
    border-bottom: none;
    padding-bottom: 17px;
    background-color: $color-exWhiteBack;
  }

}

.bl_tabArea {
  position: relative;
  width: 100%;
  margin-top: -7px;
  border-top: 7px solid $color-black01;
  background-color: whitesmoke;
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 7px;
    background-color: $color-black01;
    top: -19px;
  }
}

.bl_tabArea_txt {
  max-width: 750px;
  padding-right: 10px;
  margin: 60px auto 47px;
  font-size: 16px;
  line-height: (32 / 16);
  letter-spacing: 0.088em;
}


.bl_speechTtl {
  background: $color-white01;
  padding: 14px 30px;
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
  font-size: 32px;
  letter-spacing: 0.088em;
  font-weight: 900;
  position: relative;
  border: 7px solid $color-black01;
  border-radius: 14px;
}

.el_speechTriangleRound,.el_speechTriangleSharp {
  position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
}

.el_speechTriangleSharp {
  top: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 7.5px 0 7.5px;
  border-color: $color-white01 transparent transparent transparent;
}



//footer -----------------------------------------------

.ly_footer {
  background-color: $color-black01;
  padding-top: 30px;
  padding-bottom: 30px;
}


.bl_footerLogos {
  display: flex;
  justify-content: center;
  &_imgWrapper {
    &:not(:first-child) {
      margin-left: 30px;
    }
    &__itoki {
      width: 259px;
    }
    &__dalton {
      width: 130px;
    }
  }
}

.bl_copy {
  text-align: center;
  margin-top: 15px;
}

.el_copy {
  font-family: $font-avenir;
  font-size: 12px;
  font-weight: bold;
  color: $color-white01;
}

//実験 ---------------------------------------------

.hp_mt50 {
  margin-top: 50px;
}


.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  text-align: center;
  color: #212529;
  border-radius: 0.75rem;
}

a.btn-custom01:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  transform: translate3d(0, 0.75rem, -1rem);
  border: 2px solid #000;
  border-radius: inherit;
  background: #ccc100;
  box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
}


.btn-custom01-front { 
  position: relative;
  display: block;
  padding: 1.5rem 5rem 1.5rem 5rem;
  border: 2px solid #000;
  border-radius: 0.75rem;
  background: #fff100;
  letter-spacing: 0.1em;
}


