@font-face {
  font-family: 'Avenir Next';
  src: url("/www/assets/fonts/Avenir Next.ttc") format("ttc");
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-color: orange;
}

img {
  width: 100%;
  height: auto;
}

.bl_strongTtl {
  text-align: center;
  font-size: 48px;
  letter-spacing: 0.088em;
  font-weight: 900;
}

.bl_tabContainer {
  margin-top: 50px;
}

.bl_tabs {
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 1;
  justify-content: center;
}

.bl_tabs li:nth-child(1) > a {
  z-index: 11;
}

.bl_tabs li:nth-child(2) > a {
  z-index: 12;
  right: 7px;
}

.bl_tabs li:nth-child(3) > a {
  right: 14px;
  z-index: 13;
}

.bl_tabs li:nth-child(4) > a {
  right: 21px;
  z-index: 14;
}

.el_tab {
  position: relative;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  border-radius: 14px;
}

.el_tab::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  transform: translate3d(14px, -12px, -16px);
  border: 7px solid #333;
  border-bottom: none;
  border-radius: 14px 14px 0 0;
  background: orange;
}

.el_tab span {
  display: block;
  position: relative;
  padding: 14px 20px 10px;
  letter-spacing: 0.088em;
  color: #00964f;
  background-color: orange;
  border: 7px solid #333;
  border-radius: 14px 14px 0 0;
}

.el_tab.is_active > span {
  border-bottom: none;
  padding-bottom: 17px;
  background-color: whitesmoke;
}

.bl_tabArea {
  position: relative;
  width: 100%;
  margin-top: -7px;
  border-top: 7px solid #333;
  background-color: whitesmoke;
}

.bl_tabArea::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 7px;
  background-color: #333;
  top: -19px;
}

.bl_tabArea_txt {
  max-width: 750px;
  padding-right: 10px;
  margin: 60px auto 47px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.088em;
}

.ly_footer {
  background-color: #333;
  padding-top: 30px;
  padding-bottom: 30px;
}

.bl_footerLogos {
  display: flex;
  justify-content: center;
}

.bl_footerLogos_imgWrapper:not(:first-child) {
  margin-left: 30px;
}

.bl_footerLogos_imgWrapper__itoki {
  width: 259px;
}

.bl_footerLogos_imgWrapper__dalton {
  width: 130px;
}

.bl_copy {
  text-align: center;
  margin-top: 15px;
}

.el_copy {
  font-family: "Avenir Next";
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}

.hp_mt50 {
  margin-top: 50px;
}

.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  text-align: center;
  color: #212529;
  border-radius: 0.75rem;
}

a.btn-custom01:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  transform: translate3d(0, 0.75rem, -1rem);
  border: 2px solid #000;
  border-radius: inherit;
  background: #ccc100;
  box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
}

.btn-custom01-front {
  position: relative;
  display: block;
  padding: 1.5rem 5rem 1.5rem 5rem;
  border: 2px solid #000;
  border-radius: 0.75rem;
  background: #fff100;
  letter-spacing: 0.1em;
}
